body { 
  height: 100%; 
  margin-top: 90px;
  margin-bottom: 100px;
  padding: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 19px;
  font-weight: 300;
  background: #ebf2f9;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

.posts li {
  line-height: 1.75em;
}

.posts .desc {
  margin-left: 30px;
  font-size: 13px;
  font-weight: 200;
  padding: 4px;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

#home {
  width: 900px;
  margin: auto;
}

.scroll #top {
  display: block;
}

#top {
  line-height: 0.5;
  background: #dbe9f5;
  color: #428bca;
  position: fixed;
  bottom: 110px;
  right: 15px;
  padding: 8px;
  display: none;
}

.header {
  padding-left: 20px; 
  color: #aaa;    
  border-bottom: solid 1px #9ec3e4; 
  opacity: 0.9;
  background: #dbe9f5;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}     

.header .title {
  float: left;
}

.header .extra {
  font-weight: bold;
  text-decoration: none;
  margin: 10px;
  float: right;
}

.footer {
  border-top: solid 1px #9ec3e4; 
  opacity: 0.9;
  background: #dbe9f5;
  position: fixed; 
  width: 100%; 
  padding: 20px; 
  bottom: 0;
  left: 0;
}

.footer .contact {
  float: left;
}

.footer .links {
  float: right;
}

.footer .contact a {
  color: #8085C1;
}

.footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post {
  width: 900px;
  margin: auto;
}

.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
  text-align: justify;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
  text-shadow: none; 
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}
